.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  width: 300px;
  background-color: grey;
}

.display{
	height: 30px;
	width: 100px;
	background-color: green;
	margin-bottom: 25px;
}

.button-container{
	display: grid;

	grid-template:
		"q w e" 75px
		"a s d" 75px
		"z x c" 75px
		/75px 75px 75px;

}

.drum-pad {
	height: 65px;
	width: 65px;
	background-color: blue;
}
	#dp-q{
		grid-area: q;
	}

	#dp-w{
		grid-area: w;
	}

	#dp-e{
		grid-area: e;
	}

	#dp-a{
		grid-area: a;
	}

	#dp-s{
		grid-area: s;
	}

	#dp-d{
		grid-area: d;
	}

	#dp-z{
		grid-area: z;
	}

	#dp-x{
		grid-area: x;
	}

	#dp-c{
		grid-area: c;
	}